<div class="container">
  <div class="row">
    <h3>
      צפה בתוצאות הסקר 
    </h3> 
  </div>
  <div class="row"> 
    &nbsp;
  <p>
    {{questionText}}
  </p>  
  </div>
  <div class="row" *ngIf="isDataAvailable">
    <div class="col-12">
      <div class="chart-wrapper">
        <canvas baseChart 
          [data]="results" 
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
          [colors]="pieChartColors">
        </canvas>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      &nbsp;
      <h2>
        תודה!
      </h2>
    </div>
  </div>
</div>


